<div class="center_me">
  <div class="large-10 large-offset-1">
    <div class="large-5 columns">
      <div class="other_circle green_back">
        <%= @rock %>
      </div>
      <h4>Rock-a-billy</h4>
    </div>

    <div class="large-5 columns">
      <div class="other_circle green_back">
        <%= @oro %>
      </div>
      <h4>Oro-Espresso</h4>
    </div>
  </div>
</div>
